<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a join request for your carpool</h1>
    <p>Click here to accept or reject this request</p>
    <a href="<%= @url %>" target="_blank">Accept/Reject</a>
  </body>
</html>