<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @carpool.kid.name %> left your carpool</h1>
    <p>You now have an empty seat in your car.</p>
  </body>
</html>