<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Your request for <%= @carpool.kid.name %> to join <%= @carpool.car.user.name %> 's car was rejected. </h1>
    <p>Sorry!</p>
  </body>
</html>